<h1>Register Page</h1><form method="POST">
    Enter Username:<br><input type="text" name="uname">
    <br>Enter Password:<br><input type="password" name="pw">
    <br><br><input type="submit" value="Submit"></form>