<h1>Register Page</h1><form method="post" action="register">
    Enter Username:<br><input type="text" name="username">
    <br>Enter Password:<br><input type="password" name="password">
    <br><br><input type="submit" value="Submit"></form>