<div class="main-wrapper">
	<h1 class="title success-msg">Email Verification Sent!</h1>
    <h2 class="subtitle">Please check your email for verification.</h2>
    <a href="/" class="btn btn-primary">Home</a>
</div>