<div class="main-wrapper">
    <h1 class="title">My Bio</h1>
    <% if (locals.message) { %>
        <h5><%= locals.message %></h5>
        <% } %>
    <form method="post">
        <label for="bio">Current bio: <%= locals.user.bio %></label><br>
        <textarea id="bio" name="bio"></textarea><br>
        <input class="btn btn-primary" type="submit" value="Update Bio">
    </form>
</div>
