<div class="main-wrapper">
    <h1 class="title">My Profile</h1>
    <h2 class="subtitle">Email: <%= locals.user.username %></h2><br>
    <div class="text">Change Profile Picture</div><br>
    <form method="post" enctype="multipart/form-data" autocomplete="off">
        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lon" id="lon">
        <input type="file" name="image" id="fileInput"><br/>
        <div id="fileDisplayArea"></div><br>
        <input class="btn btn-primary hidden" type="submit" value="Update Picture" id="upload-pic">
    </form>
    <br/><br/>
    <div class="btn-group">
        <a href="/interests" class="btn btn-secondary">Edit Interests</a>
        <a href="/values" class="btn btn-secondary">Edit Values</a>
        <a href="/bio" class="btn btn-secondary">Edit Bio</a>
    </div>
    <% if (locals.message) { %>
        <h5><%= locals.message %></h5>
        <% } %>
</div>
<script src="/profilePic.js" defer></script>
<script src="/location.js" defer></script>

