<div id="message-container"></div>
<form id="form">
    <div class="message-group">
        <label for="message-input">Message</label>
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
    </div>
    <div class="room-group">
        <label for="room-input">Room</label>
        <input type="text" id="room-input">
        <button type="button" id="room-button">Join</button>
    </div>
</form>