<div class="chat-wrapper">
    <form id="form">
        <div class="message-group">
            <label for="message-input">Message</label>
            <input type="text" id="message-input">
            <button type="submit" id="send-button">Send</button>
        </div>
    </form>
<div id="message-container"></div>
</div>
<div class="room-area">
    <div class="room-group">
        <label for="room-input">Room</label>
        <input type="text" id="room-input">
        <button type="button" id="room-button">Join</button>
    </div>
</div>
<input type="hidden" id="user-input" value="<%= user.username %>">
<script src="/chat.js" type="module" defer></script>
