<div class="landing-wrapper">
	<img
		src="/images/landing-page.jpg"
		alt="Background Image"
		class="background"
        id="landing-background"
	/>
    <div class="landing-content" id="landing-content">
        <div class="btn-group">
            <a href="/register" class="btn btn-primary">YES, SIGN ME UP!</a> 
        
            <!-- <a href="#" class="btn btn-primary">GET THE APP</a> -->
            </div>
            <div class="landing-more">
                <a href="#">I want to learn more.</a>
            </div>
            <div class="copyright">
                <a href="#">Privacy Policy </a>
                <p>&nbsp;|&nbsp;</p>
                <a href="#">Terms of Service </a>
                <p>&nbsp;|&nbsp;</p>
                <p>Copyright &copy; 2022 Bloom App</p>
            </div>   
        </div>
</div>
<script src="/landing.js"></script>