<div id="loader-container">
	<div class="loader" id="loader"></div>
</div>
<div class="landing-wrapper hidden" id="wrapper">
	<img
		src="/images/landing-page.jpg"
		alt="Background Image"
		class="background"
		id="landing-background"
	/>
	<div class="landing-content" id="landing-content">
		<div class="btn-group">
			<a href="/register" class="btn btn-primary">YES, SIGN ME UP!</a>

			<!-- <a href="#" class="btn btn-primary">GET THE APP</a> -->
		</div>
		<div class="landing-more">
			<a href="#">I want to learn more.</a>
		</div>
		<div class="copyright">
			<a href="/privacy-policy">Privacy Policy </a>
			<p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
			<a href="/terms-of-service">Terms of Service </a>
			<p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
			<p>Copyright &copy; 2023 Bloom App</p>
		</div>
	</div>
</div>
<script src="/landing.js"></script>
