<div class="main-wrapper">
	<h1 class="title">Bloom</h1>
	<h3 class="subtitle">Find new friends today</h3>
	<h4 class="subtitle"><i>(Will put login page here)</i></h4>
	<% if (locals.message) { %>
	<h5><%= locals.message %></h5>
	<% } %>
</div>
