<div class="main-wrapper">
	<h1>Bloom</h1>
    <h3><i>Find new friends today</i></h3>
    <a href="./meet" class="btn">Jump in!</a>
    <% if (locals.message) { %>
        <h5><%= locals.message %></h5>
        <% } %> 
</div>
 