<div class="main-wrapper">
	<h1>Bloom</h1>
    <h3>Find new friends today</h3>
    <h4><i>(Will put login page here)</i></h4>
    <% if (locals.message) { %>
        <h5><%= locals.message %></h5>
        <% } %> 
</div>
 