<div class="info-wrapper">
	<div class="info-wrapper">
		<h1 class="title">About</h1>
		<div>
			<p>
				A unique social platform that helps foster friendships through
				shared interests and values.
			</p>
			<p>
				Made in collaboration with UI/UX designer
				<a
					href="https://www.sarahmartinart.com/"
					target="blank"
					class="default-text-color"
					>Sarah Martin</a
				>.
			</p>

			<h2 class="subtitle">Current Features</h2>
			<ul class="about-list">
				<li class="list-dot">
					Beautiful logo and designs made by Sarah Martin.
				</li>
				<li class="list-dot">
					Matching algorithm designed to connect people based on their
					ranked interests and values.
				</li>
				<li class="list-dot">
					Authentication implemented with the Passport and Bcrypt
					libraries.
				</li>
                <li class="list-dot">
					GitHub login and sign up functionality.
				</li>
				<li class="list-dot">
					Location tracking and distance measuring to pair users based
					on proximity. <br />
				</li>
			</ul>
			<ul class="about-list">
				<li class="list-dot">
					Drag and drop functionality implemented with the dragula
					library.
				</li>
				<li class="list-dot">
					Responsive animated navbar made with vanilla JavaScript.
				</li>
				<li class="list-dot">
					Profile picture uploading with a preview display.
				</li>
				<li class="list-dot">
					User data storage with MongoDB and Mongoose.
				</li>
				<li class="list-dot">Admin area for data management.</li>
			</ul>
			<ul class="about-list">
				<li class="list-dot">
					Instant messaging between users made with the socket.io
					library.
				</li>
				<li class="list-dot">Notifications on new messages.</li>
				<li class="list-dot">
					Title flashing and favicon changing to notify inactive users
					of messages.
				</li>

				<li class="list-dot">Message times convert to local time.</li>
				<li class="list-dot">A sidebar to switch between chatrooms.</li>
			</ul>
			<ul class="about-list">
				<li class="list-dot">
					Deployed to a Heroku Dyno utilizing continuous integration.
				</li>
                <li class="list-dot">
					Loaders for a smoother user experience. <br />
				</li>
                <li class="list-dot">Privacy Policy and Terms of Service.</li>
			</ul>
		</div>
	</div>
</div>
