<div class="info-wrapper">
    <h1>Privacy Policy</h1>
    <div>Effective Date: 9/4/2023</div>
    <br>
        <div>1. Introduction</div>
        <br>
        <p>This Privacy Policy outlines how Bloom ("we," "us," or "our") collects, uses, shares, and protects the personal information of users ("you" or "users") who access and use our website located at https://bloom-friend-finder.herokuapp.com ("the Website").</p>
        <br>
        <div>2. Information We Collect</div>
        <br>
        <p>2.1. Personal Information: We may collect personal information that you voluntarily provide to us when using our website. This information may include but is not limited to your name, email address, phone number, and any other information you choose to provide.</p>
        <br>
        <p>2.2. Non-Personal Information: We may also collect non-personal information, such as your IP address, browser type, operating system, and other technical details when you interact with our website.</p>
        <br>
        <div>3. How We Use Your Information</div>
        <br>
        <div>We may use the information we collect for the following purposes:</div>
        <br>
        <p>To provide and improve our services.
            To respond to your inquiries and requests.
            To send you updates, newsletters, or promotional materials.
            To analyze and monitor usage patterns and trends.</p>
        <br>
        <div>4. Information Sharing</div>
        <br>
        <p>We do not sell, rent, or trade your personal information to third parties. However, we may share your information with:</p>
        <br>
        <p>Service providers who help us operate and maintain the website.
            Legal authorities or government agencies when required by law.</p>
            <br>
        <div>5. Your Choices</div>
        <br>
        <div>You have the right to:</div>
        <br>
        <p>Access, correct, or delete your personal information.
        Opt-out of receiving marketing communications from us.</p>
        <br>
        <div>6. Security</div>
        <br>
        <p>We take reasonable measures to protect your information, but no method of data transmission or storage is entirely secure. We cannot guarantee the security of your information.</p>
        <br>
        <div>7. Changes to This Privacy Policy</div>
        <br>
        <p>We reserve the right to update this Privacy Policy at any time. We will notify you of any changes by posting the updated Privacy Policy on our website.</p>
</div>