.draggable {
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  transition: all 1s;
  min-width: 100px;
}
.dragging {
  opacity: 0.5;
}
.drop-container {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.locked {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid red;
}
.drop {
  font-size: 16px;
  height: 60px;
}
#reset {
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  cursor: pointer;
}
#reset:hover {
  text-decoration: underline;
}
.dropzone {
  border: 3px dotted black;
  min-width: 150px;
  min-height: 40px;
  padding: 10px;
  border-radius: 10px;
  transition: all 5s;
}
#drop-group {
  transition: all 5s;
  flex-wrap: wrap;
  gap: 30px;
}
#interest-group {
  padding: 30px;
  min-width: 400px;
}
#error {
  color: red;
  font-size: 30px;
}
.drop-wrapper {
  min-width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 19px;
  color: #357376;
  border-radius: 10px;
}
