.landing-content {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: auto;
}
.landing-more a {
    display: block;
    margin: 10px 10px;
    color: #a2ffe2;
    position: relative;
}
.copyright a {
    display: block;
    margin-top: 0px;
    color: #a2ffe2;
    bottom: 5px;
    position: relative;
}
.copyright p {
    display: block;
    margin-top: 0px;
    color: #a2ffe2;
    bottom: 5px;
    position: relative;
}
.reset {
    background: none;
    color: #357376;
    border: none;
}
.chat-header {
    border: 1px solid #357376;
    background: linear-gradient(to top,hsl(166, 38%, 64%), hsl(166, 38%, 72%));
    padding-top: 5px;
    padding-bottom: 5px;
}
.copyright {
    display: flex;
    gap: 0px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-top: 10px;
    height: 40px;
}
.desktop-height {
    top: 4350px;
}
.medium-height {
    top: 2820px;
}
.mobile-height {
    top: 3580px;
}
#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.loader { /* W3 schools loader */
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



