.draggable {
	padding: 10px;
	background-color: #333;
	color: white;
	border-radius: 10px;
    transition: all 1s;
}
.dragging {
	opacity: 0.5;
}
.drop-container {
	padding: 10px;
	background-color: white;
	color: black;
	border-radius: 10px;
}
.locked {
	background-color: #333;
	color: white;
	padding: 10px;
	border-radius: 10px;
	border: 3px solid red;
}
.drop {
	font-size: 16px;
	height: 60px;
}
#reset {
	background-color: red;
	color: white;
	font-size: 17px;
	font-weight: bold;
	margin: 0 10px;
	border-radius: 25px;
}
#reset:hover {
    background-color: orange;
}
.dropzone {
    border: 3px dotted black;
    min-width: 50px;
    min-height: 40px;
    padding: 10px;
    border-radius: 10px;
    transition: all 5s;
}
#drop-group {
    transition: all 5s;
    flex-wrap: wrap;
}
#interest-group {
    padding: 30px;
    min-width: 400px;
}
#error {
    color: red;
    font-size: 30px;
}
.drop-wrapper {
    width: 100px;
    height: 100px;
    color: red;
    border-radius: 10px;
}