.landing-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.landing-more a {
    display: block;
    margin: 15px 5px;
    color: #a2ffe2;
    position: relative;
}
.copyright a {
    display: block;
    margin-top: 0px;
    color: #a2ffe2;
    bottom: 60px;
    position: relative;
}
.copyright p {
    display: block;
    margin-top: 0px;
    color: #a2ffe2;
    bottom: 60px;
    position: relative;
}
.reset {
    background: none;
    color: #357376;
    border: none;
}
.chat-header {
    border: 1px solid #357376;
    background: linear-gradient(to top,hsl(166, 38%, 64%), hsl(166, 38%, 72%));
    padding-top: 5px;
    padding-bottom: 5px;
}
.copyright {
    display: flex;
    gap: 0px;
    justify-content: center;
    margin-top: 150px;
}
.desktop-height {
    top: 4350px;
}
.medium-height {
    top: 2840px;
}
.mobile-height {
    top: 3600px;
}




