.friend-box {
    width: 416px;
    height: 583px;
    border: 1px solid #66ffcc;
    border-radius: 40px;
    overflow: hidden;
}
.box-top {
    background-image: linear-gradient(white, #66ffcc);
    height: 25%;
    margin-bottom: 122px;
}
.list-pic {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 50%;
    z-index: 1;
    border: 3px solid white;
}
.friends-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    max-height: 100%;
}
.bio {
    font-style: italic;
    font-size: 16px;
}
.btn-card {
    text-decoration: none;
    border: 2px solid black;
    width: 200px;
    height: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: black;
}
.btn-card:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn-card-group {
    margin-top: 50px;
    margin-bottom: 0px;
}

#bio {
    min-width: 500px;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-delete {
    text-decoration: none;
    border: 2px solid black;
    width: 200px;
    height: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: red;
}
.btn-liked {
    background-color: darkgrey;
    pointer-events: none;
}
.btn-liked:hover {
    color: black;
}
.chat-heading {
    font-size: 14px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.chat-heading-other {
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.btn-primary {
    background-color: #AEEED8;
    color: #357376;
    font-size: 17px;
    font-weight: bold;
}
.btn-secondary {
    background-color: #FFFFFF;
    border: 4px solid #AEEED8;
}