@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    margin: 0;
    height: calc(100vh - 80px)
}
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
.chat-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
button {
    color: white;
    background-color: blue;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
}
input {
    height: 30px;
    border-radius: 5px;
}
.message-group, .room-group {
    margin: 20px auto;
}
#form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.message {
    border: 2px solid black;
    min-width: 300px;
    text-align: center;
    margin-top: 20px;
}
.btn {
    text-decoration: none;
    background-color: blue;
    border: 2px solid black;
    width: 200px;
    height: auto;
    font-size: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    gap: 20px;
    margin-top: 10px;
}
.nav-item {
    text-decoration: none;
    text-align: center;  
    font-size: 30px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.nav-item:hover {
    color: grey;
}