@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    margin: 0 auto;
    height: calc(100vh - 80px);
    text-align: center;
}
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
.chat-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 90%;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
.room-area {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
input {
    height: 30px;
    border-radius: 5px;
}
.message-group, .room-group {
    margin: 20px auto;
}
#form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.message {
    min-width: 300px;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
}
.btn {
    text-decoration: none;
    border: 2px solid black;
    width: 200px;
    height: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: black;
}
.btn-large {
    text-decoration: none;
    border: 2px solid black;
    height: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: black;
    margin-top: 20px;
    padding: 5px;
}
.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn-large:hover {
    background-color: black;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin-top: 10px;
}
.nav-link {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.nav-link:hover {
    color: grey;
}
.nav-item {
    text-align: center;  
    text-decoration: none;
}
ul, li {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
}
.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#fileDisplayArea img {
    width: 200px;
    height: 200px;
}
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.active {
    border: 2px solid red !important;
}

#form {
    width: auto;
    margin-top: 20px;
}

.error-msg {
    color: red;
    margin-bottom: 20px;
}
h5, ul {
    margin: 5px auto;
}