<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bloom</title>
		<link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/friends.css" />
        <link rel="icon" href="/images/knight.jpg">
	</head>
	<body>
		<div class="navbar">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/join-chat">Chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/meet">Meet</a>
				</li>
			</ul>
			<ul class="nav">
				<% if (!locals.user) { %>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">Register</a>
				</li>
				<% } else { %>
                    <% if (locals.user.profilePic.data) { %>
				<img
					class="profile-pic"
					src="data:image/<%=locals.user.profilePic.contentType%>;base64,
                    <%=locals.user.profilePic.data.toString('base64')%>"
				/>
                <% } %>
				<li class="nav-item">
					<a class="nav-link" href="/profile">My Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
				<% if (locals.user.admin) { %>
				<li class="nav-item">
					<a class="nav-link" href="/admin">Admin</a>
				</li>
				<% } %> <% } %>
			</ul>
		</div>
		<%- body %>
	</body>
</html>
