<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bloom</title>
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="stylesheet" href="/stylesheets/friends.css" />
		<link rel="stylesheet" href="/stylesheets/design.css" />
		<link rel="stylesheet" href="/stylesheets/dragDrop.css" />
		<link rel="stylesheet" href="/stylesheets/dragula.css" />
        <link rel="stylesheet" href="/stylesheets/fineTuning.css" />
		<link rel="icon" href="/images/bloom-logo.png" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script>
			void 0
		</script>
	</head>
	<body>
		<div class="navbar" id="navbar">
			<div class="hidden-desktop">
				<ul class="nav">
                    <li class="mobile-logo">
                        <a href="/"
                            ><img
                                class="mobile-logo"
                                src="/images/bloom-flower.svg"
                        /></a>
                    </li>
					<li class="icon">
						<button type="button" class="icon" id="navbar-toggle">
							<i class="fa fa-bars"></i>
						</button>
					</li>
				</ul>
			</div>
			<div id="inner-navbar">
				<div class="inline-flex mobile-invis" id="upper-navbar">
					<ul class="nav" id="top-nav">
						<li class="nav-item navbar-logo mobile-invis">
							<a href="/"
								><img
									class="navbar-logo mobile-invis"
									src="/images/bloom-flower.svg"
							/></a>
						</li>

						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/requests"
								>Requests</a
							>
						</li>
						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/connections"
								>Chat</a
							>
						</li>
						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/meet"
								>Find Friends</a
							>
						</li>
					</ul>
				</div>
				<div class="inline-flex mobile-invis" id="lower-navbar">
					<ul class="nav" id="bottom-nav">
						<% if (!locals.user) { %>

						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/register"
								>Sign Up</a
							>
						</li>
						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/login"
								>Sign In</a
							>
						</li>
						<% } else { %> <% if (locals.user.profilePic.data) { %>
						<li class="nav-item navbar-logo">
							<a href="/profile">
								<img
									class="navbar-logo profile-pic mobile-invis"
									src="data:image/<%=locals.user.profilePic.contentType%>;base64,
                    <%=locals.user.profilePic.data.toString('base64')%>"
							/></a>
						</li>
						<% } %>
						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/profile"
								>Profile</a
							>
						</li>
						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/logout"
								>Sign Out</a
							>
						</li>
						<% if (locals.user.admin) { %>
						<li class="nav-item mobile-invis">
							<a class="nav-link nav-text" href="/admin">Admin</a>
						</li>
						<% } %> <% } %>
					</ul>
				</div>
			</div>
		</div>
        <div class="navbar-area"></div>
		<%- body %>
		<script src="/navigation.js" defer></script>
	</body>
</html>
