<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="navbar">
		<a class="btn" href="./chat">Chatroom</a>
		<a class="btn" href="./login">Login</a>
		<a class="btn" href="./register">Register</a>
	</div>
    <%- body %> 
</body>
</html>