<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bloom</title>
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/friends.css" />
		<link rel="stylesheet" href="/design.css" />
		<link rel="stylesheet" href="/dragDrop.css" />
		<link rel="stylesheet" href="/dragula.css" />
		<link rel="icon" href="/images/bloom-logo.png" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script>
			void 0
		</script>
	</head>
	<body>
		<div class="navbar" id="navbar">
			<div class="inline-flex">
				<ul class="nav" id="top-nav">
                    <li>
                    <a
						href="#"
						class="icon"
						id="navbar-toggle"
					>
						<i class="fa fa-bars"></i>
					</a>
                </li>
                <li class="nav-item mobile-invis">
                    <a href="/"
                    ><img class="navbar-logo  mobile-invis" src="/images/bloom-logo.png"
                /></a>
                </li>
					
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/requests"
							>Requests</a
						>
					</li>
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/connections"
							>Chat</a
						>
					</li>
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/meet"
							>Find Friends</a
						>
					</li>
				</ul>
			</div>
			<div class="inline-flex mobile-invis" id="lower-navbar">
				<ul class="nav" id="bottom-nav">
					<% if (!locals.user) { %>

					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/register"
							>Sign Up</a
						>
					</li>
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/login">Sign In</a>
					</li>
					<% } else { %> <% if (locals.user.profilePic.data) { %>
                        <li class="nav-item">
					<a href="/profile">
						<img
							class="profile-pic  mobile-invis"
							src="data:image/<%=locals.user.profilePic.contentType%>;base64,
                    <%=locals.user.profilePic.data.toString('base64')%>"
					/></a>
                </li>
					<% } %>
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/profile">Profile</a>
					</li>
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/logout">Sign Out</a>
					</li>
					<% if (locals.user.admin) { %>
					<li class="nav-item mobile-invis">
						<a class="nav-link nav-text" href="/admin">Admin</a>
					</li>
					<% } %> <% } %>
				</ul>
			</div>
		</div>
		<%- body %>
		<script src="/navigation.js" defer></script>
	</body>
</html>
